/* GRID STYILING */
.grid-row{
    display: flex;
    margin-bottom: 5px;
}

.row-counter{
    height: 60px;
    width: 20px;
    margin-right: 5px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(158, 45, 0);
}

.column-coordinates{
    margin-left: 25px;
    display: flex;
}

.column-counter{
    height: 20px;
    width: 60px;
    background-color: rgb(158, 45, 0);
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

/* SQUARE STATES STYLE */
.square{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    background-color: lightgrey;
}

.miss{
    background-color: grey;
}

.hit{
    background-color: red;
}

.show{
    border: 2px solid orange;
}

.placed{
    background-color: blue;
}

/* GAME SPACE STYLING */

.gameboard{
    display: flex;
    justify-content: space-evenly;
}

