body{
    background-image: url("https://wallpaperaccess.com/full/2835851.jpg");
    background-size: cover;
}

/* Estilo del tablero */
.rows{
    display: flex;
    margin-bottom: 1px;
}

.row-counter{
    height: 60px;
    width: 20px;
    margin-right: 3px;
    margin-bottom: 1px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: blue;
}

.columns{
    margin-left: 23px;
    display: flex;
}

.column-counter{
    height: 20px;
    width: 60px;
    margin-right: 2px;
    margin-bottom: 3px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: blue;
}

/* Estilo de los cuadrados */
.square{
    width: 60px;
    height: 60px;
    margin-right: 2px;
    margin-bottom: 1px;
    background-color: rgb(136, 136, 255);
}

.miss{
    background-color: rgba(5, 40, 156, 0.651);
}

.hit{
    background-color: red;
}

.show{
    border: 10px solid red;
}

.placed{
    background-color: rgb(80, 11, 11);
}

/* Espaciado de los tableros */

.gameboard{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 200px;
    padding: 30px;
}

#SuperTitle{
    color: rgb(6, 73, 6);
    text-shadow: 0 0 0.2em rgb(0, 172, 0), 0 0 0.2em green;
}

#gamerBoard{
    margin-bottom: 200px;
}

.footer{
    font-weight: bold;
}